<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.orange.essentials.otb"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="com.orange.essentials.otb.OtbActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"/>
    </application>
</manifest>